@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('modal/_sidebar_style.css');
@import url('modal/_content_style.css');
@import url('modal/_navbar_style.css');
@import url('modal/_main_style.css');
@import url('modal/_media_queries.css');
@import url('modal/_add_image._style.css');
@import url('modal/_add_profile_style.css');
@import url('modal/_add_product_style.css');
@import url('modal/_add_about_style.css');


:root{
    /* backgrounds */
    --background_color00: #24282c;
    --background_color01: #343a40;
    --background_color02: #232429;
    --background_color03: #191919;
    --background_color04: #233d4d;
    --background_color05: #005f73;
    --background_color06: #ee9b00;
    --background_color07: #f77f00;
    --background_color08: #ca6702;
    --background_color09: #5f0011;
    --background_color10: #ab191e;
    --background_color11: #e51818;
    --background_color12: #217b70;
    --background_color13: #0aa87e;
    --background_color14: #144d46;
    --bac-main: #b18e63;
    --bac-main_blc: #aa8252;
    --bac-black: #2c2c33;
    --bac: #202026;
    --bac-border: .1rem solid #d3ad7f;
    --bac-light: #515151;
    --bac-blue_dark: #0c4986;
    --bac-blue: #1486f8;
    --light-blue: #cfe8ff;
    --bac-gray: #353535;
    --dark-gray: #ffffff;
    --dark: #e0e0e0;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --lighte-orange: #ffe0d3;
    --blue-hover: #014b5a;


    /* text color */
    --text_color01: #e1e1e2;
    --text_color02: #dadada;
    --text_color03: #caced2;
    --text_color04: #aaadb1;
    --text_color05: #6c757d;
    --text_color06: #495057;
    --text_color07: #717171;

    /* shadows */
    --shadow_00: 0px 0px 12px 20px #2a9d8f, 0px 0px 7px 5px #ffffff36 ;
    --shadow_01: 0px 0px 12px 3px #0d275029, 0px 0px 7px 1px #ffffff14 ;
    --shadow_02: 0px 0px 0px 2px #0d27500d, 0px 0px 3px 2px #ffffff0a;
    --shadow_03: 0px 0px 5px 1px #006073c1;
    --shadow_04: 0px 0px 5px 1px #2a9d90c5;
    --shadow_04_animat_1: 0px 0px 10px 1px #2a9d90c5;
    --shadow_04_animat_2: 0px 0px 3px 1px #2a9d90c5;
    --shadow_05: 0px 0px 5px 1px #ae1f12b8;
    --shadow_06: 0px 0px 5px 1px #831345d2;
    --shadow_07: 0px 0px 5px 1px #e76f51cd;
    --shadow_08: 0px 0px 5px 1px #f78000aa;
    --shadow_09: 0px 0px 5px 1px #e9c56aca;
    --shadow_10: 0px 0px 5px 2.4px #2a2e33;
    --shadow_11: 0px 0px 2px 0px #0d275029, 0px 0px 3px 1.4px #ffffff14;
    
    /* liniear gradiant */
    --background_lin: linear-gradient(45deg , #232429 , #d60e32 , 
    #d1cd23 , #4f43a8 , #e13d5a);

    /* trans */
    --trans_01: all .3s linear ;
    --trans_02: all .2s ease ;
    --trans_03: all .3s ease ;
    --trans_04: all .4s linear ;
    --trans_01: all .4s ease-in ;
    --trans_01: all .5s ease ;
    --trans_01: all .5s linear ;

    /* font */
    --poppins: 'Poppins' , sans-serif;
    --lato: 'Lato' , sans-serif;
        
}


*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    box-sizing: border-box;
    transition: all .5s ease;
}

html{
    overflow-x: hidden;
}

body{
    background: var(--bac-gray);
    overflow-x: hidden;
}


