

/* about section start */

.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: var(--bac-main);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--bac-black);
    flex-wrap: wrap;
    border-radius: 12px;
}

.about .row .image{
    flex: 1 1 45rem;
    margin-top: 5px;
    transform: scale(1.0205);
}

.about .row .image img{
    border-radius: 12px 0 0 12px;
    width: 100%;
}

.about .row .content{
    padding: 2rem;
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/* about section end */
