
/* blogs section start */

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    border: var(--bac-border);
    border-radius: 12px;
    padding: 3.5rem 3rem;
}

.blogs .box-container .box .image{
    height: 17rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 7px;
}

.blogs .box-container .box:hover{
    transform: scale(1.01);
    background: var(--bac-black);
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .box .content .title:hover{
    color: var(--bac-main);
}

.blogs .box-container .box .content span{
    color: var(--bac-main);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/* blogs section end */