
/* contact us sec start */

.contact .row{
    display: flex;
    align-items: center;
    background: var(--bac-black);
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 12px;
    padding: 2rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bac);
    border: var(--bac-border);
    border-radius: 7px;
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #Fff;
}


/* contact us sec end */

