
/* product section start */

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem , 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    border: var(--bac-border);
    padding: 2rem;
    border-radius: 12px;
}

.products .box-container .box:hover{
    box-shadow: var(--shadow_10);
    background: var(--bac-black);
    transform: translateY(-8px);
}

.products .box-container .box:hover img{
    transform: scale(1.05);
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--bac-border);
    color: #fff;
    margin: .3rem;
    border-radius: 6px;
}

.products .box-container .box .icons a:hover{
    background: var(--bac-main_blc);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 16rem;
    border-radius: 7px;
    cursor: pointer;
}

.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: #fff;
}

.products .box-container .box .content .price{
    color: #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: 300;
    font-size: 1.5rem;
}

/* product section end */