
/* review setion start */

.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem , 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--bac-border);
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 12px;
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #eee;
    padding: 2rem 0;
}

.review .box-container .box .user{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i{
    font-size: 1.5rem;
    color: var(--bac-main);
}

/* review setion end */