/* media queries start */

@media (max-width: 768px) {
    #sidebar{
        width: 200px;
    }    
    #content{
        width: calc(100% - 60px);
        left: 200px;
    }    
    #content nav .nav-link{
        display: none;
    }    
}

@media (max-width: 576px) {
    #content nav form .form-input input{
        display: none;
    }

    #content nav form .form-input .search-btn{
        width: auto;
        height: auto;
        background: transparent;
        color: var(--dark);
        border-radius: none; 
    }

    #content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    #content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--bac-light);
        background: var(--red);
    }

    #content nav form.show ~ .notifications,
    #content nav form.show ~ .profile{
        display: none;
        transition: all .5s ease!important;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head{
        min-width: 420px;
    }

    #content main .table-data .order table{
        min-width: 420px;
    }
}

/* media queries end */