/* sidebar section start */

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--bac-light);
    z-index: 2000;
    overflow-x: hidden;
    transition: 1s ease!important;
    font-family: var(--lato);
    scrollbar-width: none;
    display: block;
}

#sidebar::-webkit-scrollbar{
    display: none;
}

#sidebar.hide{
    width: 58px;
}

#sidebar .brand{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--bac-blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--bac-light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
    transition: color .8s ease;
}

#sidebar .side-menu li.active{
    background: var(--bac-gray);
    position: relative;
}

#sidebar .side-menu li.active::before{
    content: '';
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 20px -20px 0 var(--bac-gray);
    z-index: -1;
}

#sidebar .side-menu li.active::after{
    content: '';
    position: absolute;
    top: -40px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 20px 20px 0 var(--bac-gray);
    z-index: -1;
}

#sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--bac-light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: overflow-x .02s ease ;
}

#sidebar .side-menu li.active a{
    color: var(--bac-blue);
}

#sidebar.hide .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: width 2s ease;
}

#sidebar .side-menu.top li.active a .bx{
    transition: all .8s ease!important;
}

#sidebar .side-menu.top li a:hover{
    color: var(--bac-blue);
}

#sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
    transition: all .8s ease!important;
}

#sidebar .side-menu li a.logout{
    color: var(--red);
}

/* sidebar section end */